<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url 'background.jpg' %>);">
  <div class="container">
    <h1> POLO MANAGER</h1>
    <p>Schedule club chukkers, tournaments, and lessons with the click of a button!</p>
    <a class="btn btn-light" href="mailto:janie.amero@gmail.com">Register your interest!</a>
  </div>
</div>
<div class="page-section">

</div>
